<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
    <!-- <bean id="triangle" class="org.school.spring.bean.Triangle"> <property
        name="type" value="Equilateral"></property> <constructor-arg value="Equilateral"></constructor-arg>
        <constructor-arg type="java.lang.String" value="100"></constructor-arg> </bean> -->

    <!--################based on indexing############ -->


    <!-- <bean id="pointB" class="org.school.spring.bean.Point"> <property name="x"
        value="0"></property> <property name="y" value="100"></property> </bean>
        <bean id="pointC" class="org.school.spring.bean.Point"> <property name="x"
        value="100"></property> <property name="y" value="100"></property> </bean>
        <bean id="triangle" class="org.school.spring.bean.Triangle" name="tt"> <property
        name="pointA"> <bean class="org.school.spring.bean.Point"> <property name="x"
        value="0"></property> <property name="y" value="0"></property> </bean> </property>
        <property name="pointB" > <idref bean="pointB"/> </property> <property name="pointC"
        ref="pointC"></property> </bean> <alias name="triangle" alias="triangle-alias"/> -->
    <!-- Good practice is to use id instead alias or name -->
<bean id="trianle" class="org.bhoopendra.learning.beans.impl.Triangle">
    <!--<property name="type" value="eqilateral">
    </property>-->
    <property name="pointA">
        <bean  class="org.bhoopendra.learning.beans.Point">
            <property name="a" value="100"></property>
            <property name="b" value="0" ></property>
        </bean>
    </property>
    <property name="pointB" ref="pointA">
    </property>

    <property name="ponitC" ref="pointC"></property>

</bean>
    <bean id="pointA" class="org.bhoopendra.learning.beans.Point">
            <property name="a" value="0"></property>
            <property name="b" value="0" ></property>
    </bean>



    <bean id="pointC" class="org.bhoopendra.learning.beans.Point">
        <property name="a" value="100"></property>
        <property name="b" value="100" ></property>
    </bean>

    <bean id="pointD" class="org.bhoopendra.learning.beans.Point">
        <property name="a" value="100"></property>
        <property name="b" value="100" ></property>
    </bean>

    <bean id="pointE" class="org.bhoopendra.learning.beans.Point">
        <property name="a" value="100"></property>
        <property name="b" value="100" ></property>
    </bean>

    <alias name="trianle" alias="triangle3"></alias>
    <bean id="rectangle" class="org.bhoopendra.learning.beans.impl.Rectangle">
            <property name="points" >
                <list>
                    <ref bean="pointA"></ref>
                    <ref bean="pointC"></ref>
                    <ref bean="pointD"></ref>
                    <ref bean="pointE"></ref>
                </list>
            </property>
    </bean>
    <bean id="square" class="org.bhoopendra.learning.beans.impl.Square">
            <property name="points">
                <set>
                    <ref bean="pointE"></ref>
                    <ref bean="pointA"></ref>
                    <ref bean="pointC"></ref>
                    <ref bean="pointD"></ref>
                </set>
            </property>
    </bean>
    <bean id="ellipse" class="org.bhoopendra.learning.beans.impl.Ellipse" scope="prototype">
        <property name="points">
            <map>
                <entry key-ref="pointA" value-ref="pointA"></entry>
                <entry key-ref="pointC" value-ref="pointC"></entry>
                <entry key-ref="pointD" value-ref="pointD"></entry>
                <entry key-ref="pointE" value-ref="pointE"></entry>
            </map>
        </property>
    </bean>

    <bean id="hexagone" class="org.bhoopendra.learning.beans.impl.Hexagon" autowire="byName" scope="singleton">

    </bean>
</beans>