# Add any directories, files, or patterns you don't want to be tracked by version control
target/
.mvn/wrapper/maven-wrapper.jar
.mvn/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

data/*

##### Gradle #####
*.class
build/
.gradle

*.jar
*.aar
*.war

/out/*
/bin/*